{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'Style.css' %}">
	<title>FAQ — SelfStorage</title>
</head>
<body>
<header class="navbar navbar-expand-xxl navbar-light fixed-top bg-white py-5">
	<nav class="container">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="{% url 'self_storage:index' %}">
			<img src="{% static 'img/Vector.svg' %}" alt="[]">
			<img src="{% static 'img/SelfStorage.svg' %}" alt="SelfStorage">
		</a>
		<div class="collapse navbar-collapse justify-content-end" id="navbar">
			<ul class="navbar-nav align-items-center">
				<li class="nav-item d-flex align-items-center me-5">
					<div class="d-flex justify-content-center align-items-center rounded-pill SelfStorage__bg_green me-2" style="height: 36px; width: 36px;">
						<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="white" class="bi bi-telephone-fill" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
						</svg>
					</div>
					<b>8 (800) 000-00-00</b>
				</li>
				<li class="nav-item me-5">
					<a class="nav-link SelfStorage_black" href="{% url 'self_storage:boxes' %}">Рассчитать стоимость</a>
				</li>
				<li class="nav-item me-5">
					<a class="nav-link SelfStorage_black" href="{% url 'self_storage:faq' %}">Правила хранения</a>
				</li>
				<li class="nav-item me-5">
					<a class="nav-link SelfStorage_black" href="{% url 'self_storage:boxes' %}">Арендовать бокс</a>
				</li>

				{% if user.is_authenticated %}
				<li class="nav-item d-flex align-items-center me-4">
					<a href="{% url 'self_storage:my_rent' %}" class="text-decoration-none d-flex align-items-center">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#579586" class="bi bi-person border border-2 rounded-pill me-2" viewBox="0 0 16 16">
							<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
						</svg>
						<span class="SelfStorage_green fw-bold">Личный кабинет</span>
					</a>
				</li>
				<li class="nav-item me-5">
					<a class="nav-link text-muted" href="{% url 'self_storage:logout' %}">Выйти</a>
				</li>
				{% else %}
				<li class="nav-item me-5">
					<a class="nav-link SelfStorage_green" href="#" data-bs-toggle="modal" data-bs-target="#SignModal">Войти</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
</header>

<!-- Модальное окно Регистрации -->
<aside class="modal fade" id="RegModal" tabindex="-1" aria-labelledby="RegModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header border-0">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body d-flex justify-content-center align-items-center">
				<form method="post" action="{% url 'self_storage:register' %}" class="d-flex flex-column align-items-center" style="max-width: 420px">
					{% csrf_token %}
					<h1 class="modal-title text-center fw-bold mb-3">Регистрация</h1>
					<input type="text" required name="first_name" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Имя">
					<input type="email" required name="email" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="E-mail">
					<input type="tel" name="phone" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Телефон">
					<input type="password" required name="password" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Пароль">
					<div class="form-check mb-3">
						<input class="form-check-input" type="checkbox" name="agree" id="agreeReg" required checked>
						<label class="form-check-label fw-light SelfStorage_grey" for="agreeReg">
							Нажимая на кнопку, вы подтверждаете свое <a href="{% static 'docs/pd_agreement.pdf' %}" class="SelfStorage_grey">согласие на обработку персональных данных</a>
						</label>
					</div>
					<button type="submit" class="btn border-8 py-3 px-5 mt-3 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Зарегистрироваться</button>
					<span>Уже зарегистрированы? <a href="#" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#SignModal" data-bs-dismiss="modal" aria-label="Close">Войти в личный кабинет</a></span>
				</form>
			</div>
		</div>
	</div>
</aside>

<!-- Модальное окно Входа -->
<aside class="modal fade" id="SignModal" tabindex="-1" aria-labelledby="SignModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header border-0">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body d-flex justify-content-center align-items-center">
				<form method="post" action="{% url 'self_storage:login' %}" class="d-flex flex-column align-items-center" style="max-width: 420px">
					{% csrf_token %}
					<h1 class="modal-title text-center fw-bold mb-3">Вход</h1>
					<input type="text" required name="email" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="E-mail или логин">
					<input type="password" required name="password" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Пароль">
					<a href="#" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#ForgetModal" data-bs-dismiss="modal" aria-label="Close">Забыли пароль?</a>
					<button type="submit" class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Войти</button>
					<span>Нет аккаунта? <a href="#" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#RegModal" data-bs-dismiss="modal" aria-label="Close">Зарегистрируйтесь на сайте</a></span>
				</form>
			</div>
		</div>
	</div>
</aside>

<!-- Модальное окно Восстановления пароля -->
<aside class="modal fade" id="ForgetModal" tabindex="-1" aria-labelledby="ForgetModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header border-0">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body d-flex justify-content-center align-items-center">
				<form class="d-flex flex-column align-items-center" style="max-width: 420px">
					{% csrf_token %}
					<h1 class="modal-title text-center fw-bold mb-3">Восстановление пароля</h1>
					<input type="email" required name="EMAIL_FORGET" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="E-mail">
					<button type="submit" class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Восстановить</button>
					<span>Вспомнили пароль? <a href="#" class="SelfStorage_orange" data-bs-toggle="modal" data-bs-target="#SignModal" data-bs-dismiss="modal" aria-label="Close">Отмена</a></span>
				</form>
			</div>
		</div>
	</div>
</aside>

<main class="container mt-header">
	{% if messages %}
	<div class="row pt-4">
		<div class="col-12">
			{% for message in messages %}
			<div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show border-8" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}

	<div class="row" role="tablist">
		<div class="col-lg-3 d-flex flex-column nav nav-pills">
			<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_grey SelfStorage_tab active" id="LK-tab" data-bs-toggle="pill" data-bs-target="#LK" type="button" role="tab" aria-controls="LK" aria-selected="true">О складах и боксах</button>
			<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_grey SelfStorage_tab" id="Rent-tab" data-bs-toggle="pill" data-bs-target="#Rent" type="button" role="tab" aria-controls="Rent" aria-selected="false">Доступ к складам и боксам</button>
			<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_grey SelfStorage_tab" id="FAQ-tab" data-bs-toggle="pill" data-bs-target="#FAQ" type="button" role="tab" aria-controls="FAQ" aria-selected="false">Договор аренды и оплата</button>
		</div>
		<div class="col-lg-9">
			<div class="card tab-content p-5">
				<div class="tab-pane fade show active" id="LK" role="tabpanel" aria-labelledby="LK-tab">
					<h2 class="fw-bold">О складах и боксах</h2>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse11" role="button" aria-expanded="false" aria-controls="collapseExample">
							Как устроены склады индивидуального хранения SelfStorage?
					</a></p>
					<div class="collapse" id="collapse11">
						<span>Каждый склад сети SelfStorage – это отапливаемое и сухое помещение, оборудованное боксами различных размеров, которые вы можете арендовать для хранения вещей на любой срок от 1 месяца.</span>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse12" role="button" aria-expanded="false" aria-controls="collapseExample">
						Какие условия хранения поддерживаются в складах SelfStorage?
					</a></p>
					<div class="collapse" id="collapse12">
						<span>Во всех филиалах сети регулярно проводится уборка помещений, а также поддерживается постоянная температура и уровень влажности.</span>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse13" role="button" aria-expanded="false" aria-controls="collapseExample">
						Какие меры безопасности соблюдаются в складах SelfStorage?
					</a></p>
					<div class="collapse" id="collapse13">
						<span>Все складские помещения оборудованы электронной системой доступа по пин-коду, поэтому попасть на склад могут только арендаторы и доверенные лица. Более того, все склады находятся под видеонаблюдением, а служба круглосуточной заботы о клиентах осуществляет мониторинг и реагирование на нестандартные ситуации.</span>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse14" role="button" aria-expanded="false" aria-controls="collapseExample">
						Чем, помимо местоположения, отличаются склады сети SelfStorage между собой?
					</a></p>
					<div class="collapse" id="collapse14">
						<span>Наши склады бывают двух типов: автоматизированные и с администратором. Более того, каждый склад обладает некоторыми особенностями. Так, например, в некоторых складах есть возможность подъехать к боксу прямо на машине, в других прилегающая к складу территория обустроена под парковку. Чтобы найти подходящий под свои потребности склад, переходите на страницу Боксы и цены с возможностью настроить фильтрацию по ключевым характеристикам.</span>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse15" role="button" aria-expanded="false" aria-controls="collapseExample">
						Боксы каких размеров можно арендовать в SelfStorage?
					</a></p>
					<div class="collapse" id="collapse15">
						<span>Мы предлагаем широкий выбор боксов разных размеров площадью от 1 до 50 м². Выбирая бокс, обратите внимание на высоту потолков, параметры бокса и дверного проёма.</span>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse16" role="button" aria-expanded="false" aria-controls="collapseExample">
						Что нельзя хранить в боксах SelfStorage?
					</a></p>
					<div class="collapse" id="collapse16">
						<p>Мы не принимаем на хранение следующие позиции:</p>
						<ul>
							<li>токсичные и радиоактивные вещества;</li>
							<li>материалы, источающие дым и запах;</li>
							<li>легковоспламеняющиеся материалы и жидкости;</li>
							<li>запрещенные к обороту в РФ предметы;</li>
							<li>оружие и взрывоопасные вещества;</li>
							<li>деньги и ценные бумаги;</li>
							<li>продукты питания;</li>
							<li>растения и животные;</li>
							<li>лекарственные препараты в любой форме.</li>
						</ul>
						<p>Будьте внимательны: оформляя договор аренды, вы соглашаетесь с этими условиями и берёте на себя полную ответственность за содержимое бокса.</p>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse17" role="button" aria-expanded="false" aria-controls="collapseExample">
						Что такое антресольный бокс?
					</a></p>
					<div class="collapse" id="collapse17">
						<span>Боксы антресольного типа представляют собой ячейки, расположенные выше уровня пола, как правило, на высоте около 2 метров. Доступ к таким боксам осуществляется с помощью передвижных лестниц-платформ, которые доступны всем арендаторам.</span>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse18" role="button" aria-expanded="false" aria-controls="collapseExample">
						Как перевезти, погрузить и разгрузить вещи?
					</a></p>
					<div class="collapse" id="collapse18">
						<p>Вы можете перевезти вещи самостоятельно или воспользоваться услугами доставки:</p>
						<ul>
							<li><a href="{% url 'self_storage:boxes' %}" class="SelfStorage_orange">SelfStorage</a>: Закажите услугу перевозки вещей под ключ, а мы бережно упакуем, погрузим и перевезем ваши вещи на склад.</li>
							<li><span class="SelfStorage_orange">Яндекс Go</span>: Закажите грузовое такси, чтобы перевезти вещи в самые сжатые сроки.</li>
							<li><span class="SelfStorage_orange">Яндекс.Драйв</span>: Воспользуйтесь услугами грузового каршеринга, чтобы перевезти вещи самостоятельно.</li>
						</ul>
					</div>
				</div>
				<div class="tab-pane fade" id="Rent" role="tabpanel" aria-labelledby="Rent-tab">
					<h2 class="fw-bold">Доступ к складам и боксам</h2>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse21" role="button" aria-expanded="false" aria-controls="collapseExample">
						Как осуществляется доступ к боксу?
					</a></p>
					<div class="collapse" id="collapse21">
						<span>Бокс – это ваш личный мини-склад, расположенный в складском комплексе SelfStorage.
В полностью автоматизированных складах боксы оборудованы электронной системой доступа по пин-коду, который вы получите в личном кабинете сразу после заключения договора аренды. Пин-код нужно будет ввести в специальный терминал на территории складского комплекса, после чего доступ к вашему личному мини-складу будет открыт.</span>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse22" role="button" aria-expanded="false" aria-controls="collapseExample">
						Как осуществляется доступ к складскому комплексу?
					</a></p>
					<div class="collapse" id="collapse22">
						<span>Все наши складские комплексы оборудованы электронной системой доступа. Оформив договор аренды онлайн, вы получите QR-код и пин-код доступа к складу в личном кабинете.</span>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse23" role="button" aria-expanded="false" aria-controls="collapseExample">
						В какое время можно попасть на склад и воспользоваться арендованным боксом?
					</a></p>
					<div class="collapse" id="collapse23">
						<span>Все филиалы работают круглосуточно и без выходных. Пользуйтесь боксом в любое время как своей личной кладовкой, привозите и забирайте вещи тогда, когда вам удобно.</span>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse24" role="button" aria-expanded="false" aria-controls="collapseExample">
						Что произойдет, если я забуду свой пин-код?
					</a></p>
					<div class="collapse" id="collapse24">
						<span>Вы всегда можете найти код доступа в своем личном кабинете на сайте. Если вы утратите доступ к аккаунту, обратитесь в службу поддержки.</span>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse25" role="button" aria-expanded="false" aria-controls="collapseExample">
						Могу ли я посмотреть бокс перед заключением договора аренды?
					</a></p>
					<div class="collapse" id="collapse25">
						<span>Вы можете приехать и посмотреть лично, как всё устроено на складах и в каждом конкретном боксе, предварительно связавшись с нами по телефону.</span>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse26" role="button" aria-expanded="false" aria-controls="collapseExample">
						Могу ли я разрешить другим лицам доступ к моему боксу?
					</a></p>
					<div class="collapse" id="collapse26">
						<span>Вы можете пользоваться боксом вместе с другими людьми: членами семьи, коллегами или друзьями. Для этого просто передайте им пин-код или QR-код доступа из личного кабинета.</span>
					</div>
				</div>
				<div class="tab-pane fade" id="FAQ" role="tabpanel" aria-labelledby="FAQ-tab">
					<h2 class="fw-bold">Договор аренды и оплата</h2>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse31" role="button" aria-expanded="false" aria-controls="collapseExample">
						Как арендовать помещение для хранения в SelfStorage?
					</a></p>
					<div class="collapse" id="collapse31">
						<span>Чтобы арендовать бокс, вам нужно зарегистрироваться в личном кабинете, выбрать подходящий бокс в каталоге и оформить заявку онлайн.</span>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse32" role="button" aria-expanded="false" aria-controls="collapseExample">
						Какой минимальный и максимальный срок аренды бокса?
					</a></p>
					<div class="collapse" id="collapse32">
						<span>Вы можете арендовать бокс на любой срок от 1 месяца с возможностью продления в личном кабинете.</span>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse35" role="button" aria-expanded="false" aria-controls="collapseExample">
						Какие способы оплаты принимает SelfStorage?
					</a></p>
					<div class="collapse" id="collapse35">
						<p>Вы можете оплатить аренду бокса банковской картой онлайн в личном кабинете или по безналичному расчету.</p>
					</div>
					<p><a class="fs_24 SelfStorage_grey text-decoration-none" data-bs-toggle="collapse" href="#collapse38" role="button" aria-expanded="false" aria-controls="collapseExample">
						Как и когда можно расторгнуть договор аренды?
					</a></p>
					<div class="collapse" id="collapse38">
						<span>Договор может быть расторгнут в любое время. Для этого освободите бокс и завершите аренду через личный кабинет.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<aside class="py-5 mt-header SelfStorage__bg_green">
	<div class="container py-5">
		<div class="d-flex flex-column align-items-center">
			<h1 class="text-white text-center fw-bold mb-4">Остались вопросы?</h1>
			<h4 class="text-white text-center fw-light">Оставьте заявку и наши менеджеры свяжутся с вами в ближайшее время</h4>
			<form method="post" action="{% url 'self_storage:boxes' %}" class="row my-4 w-100 justify-content-center" style="max-width: 700px;">
				{% csrf_token %}
				<div class="col-12 col-lg-7 mb-3 mb-lg-0">
					<input type="text" required name="EMAIL2" class="form-control border-8 py-3 px-4 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Укажите ваш e-mail">
				</div>
				<div class="col-12 col-lg-5">
					<button type="submit" class="btn w-100 border-8 py-3 px-4 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Оставить заявку</button>
				</div>
			</form>
			<span class="text-white text-center fw-light">Нажимая на кнопку, вы подтверждаете свое <a href="#" class="text-white text-decoration-underline">согласие на обработку персональных данных</a></span>
		</div>
	</div>
</aside>
<footer class="container py-5">
	<div class="row mb-5">
		<div class="col-6 col-md-4 d-flex flex-column mb-3">
			<a href="{% url 'self_storage:index' %}" class="navbar-brand">
				<img src="{% static 'img/Vector.svg' %}" alt="[]">
				<img src="{% static 'img/SelfStorage.svg' %}" alt="SelfStorage">
			</a>
			<span class="SelfStorage_green">Ежедневно: 9.00 - 21.00</span>
		</div>
		<div class="col-6 col-md-4 d-flex flex-column mb-3">
			<span class="fs_24 fw-bold SelfStorage_green">8 (800) 000-00-00</span>
			<span class="SelfStorage_green">info@selfstorage.ru</span>
		</div>
		<div class="col-6 col-md-4">
			<div>
				<a href="https://vk.com/devmanorg"><img src="{% static 'img/VK_Compact_Logo%201.svg' %}" alt=""></a>
				<a href="#" class="text-decoration-none">
					<svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
					</svg>
				</a>
				<a href="#"><img src="{% static 'img/whatsapp.svg' %}" alt=""></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-md-4 d-flex flex-column">
			<p><a href="{% url 'self_storage:boxes' %}" class="link-dark text-decoration-none">Тарифы</a></p>
			<p><a href="{% url 'self_storage:boxes' %}" class="link-dark text-decoration-none">Рассчитать стоимость</a></p>
			<p><a href="{% url 'self_storage:boxes' %}" class="link-dark text-decoration-none">Арендовать бокс</a></p>
		</div>
		<div class="col-6 col-md-4 d-flex flex-column">
			<p><a href="{% url 'self_storage:faq' %}" class="link-dark text-decoration-none">Правила хранения</a></p>
			<p><a href="{% url 'self_storage:boxes' %}" class="link-dark text-decoration-none">Адреса складов</a></p>
		</div>
		<div class="col-6 col-md-4 d-flex flex-column">
			<p><a href="#" class="link-dark text-decoration-none">Политика конфиденциальности</a></p>
			<p><a href="#" class="link-dark text-decoration-none">Правовые документы</a></p>
		</div>
		<h6 class="SelfStorage_grey text-center mt-5">© 2026 SelfStorage. Все права защищены.</h6>
	</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
